footer {
    background-color: hsl(260, 8%, 14%);
    color: white;
    padding: 4rem 15rem;
    display: flex;
    justify-content: space-between;
}

#footer-title {
    font-size: 1.5rem;
    font-weight: 700;
}

#footer-links {
    display: flex;
}

#footer-links div {
    margin: 0 2.5rem;
}

.footer-link {
    display: flex;
    flex-direction: column;
}

.footer-link p {
    padding-bottom: 1.5rem;
}

.footer-link a {
    color: grey;
    padding: .5rem 0;
}

.footer-icons img {
    padding: 0 .5rem;
}

.footer-icons img:hover {
    cursor: pointer;
}